</div>
</div>
<footer>
  <div class="card text-center">
    <div class="card-body">
      <!-- <b > <marquee >Bản quyền thuộc lê văn </marquee></b></body> -->
      <!-- <p> gbfvdvdfvdfvfdvfdvfdvfdvfgbvf<hr ></p> -->
      <font color="">
        <p> Bản quyền: &copy; <a href="">le.van.com</a><br />
          <!-- Thương hiệu: <sub>TM</sub> <br/> -->
          Thương hiệu đã đăng ký: &reg; <a href="">LEVANVAN</a><br />
          Email: <a href="">levanvan009@yahoo.com</a>
        </p>
        <hr>
      </font>
    </div>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

</html>