<% include header.ejs %>
<!-- Page content-->
<div class="container-fluid">
    <h1 class="mt-4" style="text-align:center ; color:rgb(245, 112, 141);">Xóa Dữ liệu Bảng Hóa Đơn</h1><br><br>
    <form action="/xoa" method="POST" style="text-align:center ; ">
        <input type="text" name="ngay" placeholder="nhập ngày hóa đơn muốn xóa">
        <hr>
        <button type="submit">xóa dữ liệu </button>
    </form>
</div>
<% include footer.ejs %>